/* Define CSS Variables for Colors and Fonts */
:root {
    --primary-bg: #333;
    --seconday-bg: #fff;
    --primary-text: #6A4B35;
    --secondary-text:#333;
    --heading-text: #92655D;
    --link-text: #9A7456;
    --body-font: 'Le Havre', sans-serif;
}

/* Common Font Styles */
@font-face {
    font-family: 'Le Havre';
    font-style: normal;
    font-weight: normal;
    src: local('Le Havre'), 
         url('LeHavre.woff') format('woff'),
         url('LeHavre.ttf') format('truetype'),
         url('LeHavre.eot?#iefix') format('embedded-opentype');
}
/* Container Styles */
.container {
    max-width: 1000px;
    margin-left: 220px; /* Adjust the margin to account for the sidebar width */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container p {
    font-size: 20px; /* Change the value to your desired font size */
}
/* Style for the paragraphs with color */
.container p.with-color {
    color: #007bff; /* Change this to the desired text color */
}
/* Style for the paragraphs with a background color */
.container p.with-bg-color {
    background-color: var(--primary-bg); /* Change this to the desired background color */
    color: #fff; /* Set a contrasting text color */
}
/* Center-align the Header */
header {
    text-align: center; /* Center-align the text within the header */
    background-color: var(--seconday-bg); /* Background color for the header */
    color: var(--primary-bg); /* Text color for the header */
    padding: 20px;
    /* background-image: url('navbar.png'); Replace 'your-image.jpg' with the path to your image */
    /* background-size: cover; Adjust the size to cover the entire header */
    /* background-repeat: no-repeat; Prevent the image from repeating */
    /* background-position: center center; Center the image horizontally and vertically */

}
img {
    outline: none;
}


/* Media Query for Responsive Layout */
@media (max-width: 1024px) {
    .container {
        margin-left: 20px; /* Adjust margin for smaller screens */
    }
}

/* Sidebar Styles */
.sidebar {
    background-color: var(--seconday-bg); /* Sidebar background color */
    color: var(--primary-bg); /* Text color */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
}

/* Sidebar Links Styles */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 50px;
}

.sidebar a {
    text-decoration: none;
    color: var(--primary-bg);
    font-weight: bold;
}

/* Style the active link */
.sidebar a:hover {
    background-color: #555;
}

/* Highlight the active link */
.sidebar a.active {
    background-color: #007bff; /* Active link background color */
}
